div#mobile_req {
    display: none;
    text-align: center;
    width: 160px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: #fff;
    background: #272727;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 20px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}

div#mobile_req > div {
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
}

div#modal_req_mobile {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    z-index: 999;
    color: #fff;
    font-family: 'montserrat', sans-serif;
    font-size: 12px;
    padding: 15px;
    box-sizing: border-box;
}

#clone_mobile .req {
    color: yellow;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

div#form {
    position: absolute;
    right: -120px;
    width: 415px;
    bottom: -30px;
}

.nav-block {
    position: absolute;
    bottom: -9vh;
    right: -55px;
    width: 300px;
}

.nav-block .btn:first-child {
    margin-right: 48px;
}

.nav-block .btn {
    float: left;
    box-sizing: border-box;
    width: 42%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    font-weight: bold;
    font-size: 12px;
    height: 37px;
    line-height: 33px;
    right: 7px;
    letter-spacing: 2px;
    cursor: pointer;
}

.nav-block .bar {
    position: absolute;
    background: #ffd300;
    left: 0;
    height: 100%;
    width: 35px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}

span.btnbody {
    position: absolute;
    width: 100%;
    height: 100%;
    right: -38px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    border: 3px solid #ffd300;
    box-sizing: border-box;
    color: #ffd300;
}

.btn-text {
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
}

div.btn.disabled {
    opacity: 0.3;
}

div#main-btn {
    cursor: pointer;
    height: 55px;
    margin: 0 auto;
    width: 72%;
    right: -5px;
    position: relative;
    text-align: center;
    line-height: 49px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 2px;
    margin-top: 50px;
}

div#main-btn .bar {
    position: absolute;
    background: #ffd300;
    left: 0;
    height: 100%;
    width: 35px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}

div#main-btn span.btnbody {
    position: absolute;
    width: 100%;
    height: 100%;
    right: -38px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    border: 3px solid #ffd300;
    box-sizing: border-box;
    background-color: #ffd300;
    color: #000;
    transition: all 0.3s;
}

#main-btn:hover span.btnbody {
    background-color: #222222 !important;
    color: var(--lightYellow) !important;
}

form label:nth-child(2) {  margin-top: 20px; position: relative; }
form label {  display: block;  }
form input {border-radius: 0;box-sizing: border-box;background: rgba(255, 255, 255, 0);color: yellow;border: 0px;border-bottom: 2px solid yellow;padding: 20px 25px 20px 20px;/* padding-left: 20px; */font-family: cursive;font-size: 16px;width: 100%;outline: none;font-family: 'Montserrat Alternates', sans-serif;font-weight: bold;}

form label .referencia{
    position: absolute;
    right: 0;
    top: 20px;
    cursor: pointer;
}

.ui-tooltip, .arrow:after {
    background: #1d1d1d;
    border: none;
}

.ui-tooltip {
    padding: 10px 20px;
    color: #ffd300;
    border: none !important;
    border-radius: 0;
}

footer{
    display: none;
}

form.black input{
    border-bottom-color: #000;
    color: #000;
    transition: all 0.5s;
}

.button.indicar {
    margin-top: 60px;
}

form.black .button span{
    background-color: #000;
    transition: all 0.5s;
}

form.white input {
    border-color: #fff;
    color: #fff;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--yellow);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */
    color: var(--yellow);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
}
:-ms-input-placeholder { /* IE 10+ */
    color: var(--yellow);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
}
:-moz-placeholder { /* Firefox 18- */
    color: var(--yellow);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
}

div#req li span {
    background-color: #1d1d1d;
    padding: 5px;
}

div#req li {
    width: 100%;
    padding: 5px;
    margin: 4px 0;
    color: yellow;
    font-size: 11px;
    font-family: 'Montserrat Alternates', sans-serif;
}

div#req {
    position: absolute;
    top: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #1d1d1d;
    margin-top: -20px;
    left: -8vw;
    font-size: 0.7vw;
}

form .button:hover span:last-child{
    background-color: #222222;
}
form .button:hover span:first-child{
    border-color: transparent;
}
form.white .button span {
    border-color: #fff;
}

form.white .button span:first-child{
    background-color: #fff;
}

form.yellow .button span:first-child{
    background-color: var(--yellow);
}

form.yellow .button:hover span:last-child{
    color: var(--yellow);
}

/*GAVETA*/
div#gaveta .menu img {
    width: 55%;
    display: block;
    margin: 15% auto;
    padding-top: 3vh;
}

div#gaveta .menu {
    width: 25%;
    background: #1d1d1d;
    height: 100%;
    position: relative;
    float: left;
}

div#abre-gaveta:hover{
    background-color: #ffd300;
}

div#abre-gaveta:hover span{
    background-color: #1d1d1d;
    width: 100%
}

div#footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

div#gaveta {
    background: #333333;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 9;
}

div#gaveta .menu ul li {
    padding: 15px 0;
}

div#gaveta .menu ul {
    color: #fff;
    font-family: 'Montserrat', sans-serif;

    font-weight: bold;
    text-align: center;
    padding-top: 4vh;
}

div#gaveta .menu ul a{
    font-size: 0.7vw;
    letter-spacing: 0.2em;
    transition: 0.3s;
}

div#gaveta .menu ul a:hover{
    color: var(--yellow);
}

#footer .realiza-gaveta div {
    margin: 0 auto;
    height: 35px;
    text-align: center;
}

#footer .realiza-gaveta div img {
    padding: 0;
    width: 100px;
    display: inline-block;
    margin: 0 20px;
}
div#gaveta .title {
    text-align: center;
    color: #4c4c4c;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 0.7vw;
    font-weight: bold;
}

#footer .apoio-gaveta {
    margin: 30px 0;
}

#footer .apoio-gaveta div {
    margin: 0 auto;
    height: 25px;
    text-align: center;
}

#footer .apoio-gaveta div img {
    padding: 0;
    width: 100px;
    display: inline-block;
    margin: 0 20px;
}

div#abre-gaveta {
    width: 50px;
    height: 50px;
    background: #1d1d1d;
    position: absolute;
    left: 26px;
    border-radius: 100px;
    top: 50%;
    margin-top: -26px;
    z-index: 10;
    border: 3px solid #ffd300;
    box-sizing: border-box;
}

/*GAVETA*/

/*HAMBURGUER*/
* {
    margin: 0;
    padding: 0;
}


ul#nav li{
    position: relative;
}
ul#nav li span.ref-tooltip2{
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
}

.ui-tooltip{
    color: #fff;
}
/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0;
}

#nav-icon1 span:nth-child(2) {
    top: 18px;
}

#nav-icon1 span:nth-child(3) {
    top: 36px;
}

#nav-icon1.open span:nth-child(1) {
    top: 20px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 20px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/* Icon 2 */

#nav-icon2 {
}

#nav-icon2 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 50%;
    background: #d3531a;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
    left:0;
    border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
    top: 0;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
    top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
    top: 36px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
    left: 5px;
    top: 7px;
}

#nav-icon2.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
}

#nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
    left: 5px;
    top: 29px;
}

#nav-icon2.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
    top: 0;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 18px;
}

#nav-icon3 span:nth-child(4) {
    top: 36px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
}

/* Icon 4 */

#nav-icon4 {
}

#nav-icon4 span:nth-child(1) {
    top: 0;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

#nav-icon4.open span:nth-child(2) {
    width: 0;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}
/*edit*/
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 30px;
    height: 100%;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #ffd300;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1){
    top: 13px;
    width: 75%;
    left: inherit;
    right: 0;
}

#nav-icon1 span:nth-child(2){
    top: 20px;
}

#nav-icon1 span:nth-child(3){
    top: 27px;
    width: 75%;
    left: inherit;
    right: 0;
}

#nav-icon1.open span, #nav-icon3.open span, #nav-icon4.open span {
    width: 100%;
}
/*HAMBURGUER*/

div#req .title .req {
    position: absolute;
    text-align: left;
    width: 100%;
    height: 100%;
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
    padding-left: 20px;
    text-transform: uppercase;
}

div#req ul {
    padding-left: 15px;
}

div#req .title {
    position: relative;
    width: 214px;
    box-sizing: border-box;
    height: 32px;
    margin-bottom: 10px;

}
div#req .bg {
    background: var(--yellow);
    width: 100%;
    position: absolute;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}

div#indicados {
    float: left;
    width: 75%;
    left: 25%;
    text-align: center;
}

div#indicados .indicado {
    width: 110%;
    margin: 0 auto;
    display: block;
    margin-left: -5%;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #fff;
    font-size: 13px;
    margin-top: 25px;
    padding-bottom: 5px;
}


div#indicados ul{
    text-align: left;
}
div#indicados ul li {
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    background: #1d1d1d;
    border: 2.1em solid #333333;
    margin: 0 1.6%;
}

div#indicados ul li .title {
    color: #fff;
    font-size: 17px;
    margin-top: -10px;
    font-family: 'The Frontman', sans-serif;
    line-height: 22px;
    min-height: 44px;
}

div#indicados .button {
    height: 40px;
    width: 60%;
    margin: 25px auto -15px;
    float: none;
    left: 10px;
}

div#indicados .button span {
    height: 40px;
    line-height: 35px;
    color: #000;
}


div#indicados .button span:first-child {
    width: 30px;
    background-color: var(--lightYellow);
    border-color: var(--lightYellow);
    left: -30px;
}

div#indicados .button span:last-child {
    width: 100%;
    background-color: var(--yellow);
    border-color: var(--yellow);
}


div#indicados .button:hover span:first-child {
}

div#indicados .button:hover span:last-child {
    background-color: #222222;
    border-color: var(--yellow);
    color: var(--yellow);
}

div#indicados .button.share span:first-child {
    background: #5F79B4;
    border-color: #5F79B4;
}

div#indicados .button.share span:last-child {
    background: #3B5999;
    border-color: #3B5999;
}

div#indicados .button.share:hover span:first-child {
}

div#indicados .button.share:hover span:last-child {
    background: #222222;
    border-color: #3B5999;
    color: #3B5999;
}

@media screen and (max-width: 1366px) and (max-height: 740px){
    div#main-btn {
        margin-bottom: 20px;
    }
    div#indicados .button {
        width: 70%;
    }
    div#indicados .button span:last-child > div{
        font-size: 11px;
    }
    div#gaveta .menu ul {
        padding-top: 0;
    }
    div#gaveta .menu img {
        margin: 7% auto;
    }
    div#footer {
        bottom: 30px;
    }

    div#form {
        right: -120px;
        width: 355px;
        bottom: -30px;
    }

    .nav-block .btn {
        width: 34%;
    }
    .nav-block {
        position: absolute;
        bottom: -9vh;
        right: -117px;
        width: 310px;
    }
    div#main-btn {
        margin-top: 30px;
    }
}

@media screen and (max-width: 1024px) {

    div#indicados ul li .title{
        font-size: 12px;
    }

    div#gaveta .title{
        font-weight: normal;
    }

    div#main-btn {
        width: 29.2vw;
        right: 35px;
        margin-bottom: 10px;
        margin-top: 15px;
    }

    div#pagesBar {
        position: absolute;
        top: 50.5%;
        right: 46px;
        z-index: 999;
        transform: translateX(50%);
        width: 3.7vw;
    }
    ul#nav li {
        width: 3.7vw;
        height: 3.7vw;
        margin: 3vh 0;
        border-radius: 100px;
        background-repeat: no-repeat;
        border: 3px solid rgba(255, 0, 0, 0);
        cursor: pointer;
    }
    /*div#form {*/
        /*position: absolute;*/
        /*right: -80px;*/
        /*width: 260px;*/
    /*}*/
    div#form {
        position: initial;
        margin: 0 auto;
    }

    .button {
        margin-top: 20px;
        cursor: pointer;
        transition: 0.3s;
        width: 190px;
        position: relative;
        float: right;
        margin-right: 20px;
    }

    .button span:first-child {
        width: 4vw;
        height: 6.8vh;
        /*left: -20px;*/
    }
    .button span:last-child {
        /*width: 30vw;*/
        /*height: 6.8vh;*/
        /*line-height: 6.8vh;*/
        border: 1px solid #333 !important;
    }
    .button span:last-child > div {
        font-size: 13px;
    }

    div#gaveta .menu ul li {
        padding: 10px 0;
    }

    div#gaveta .menu ul a {
        font-size: 1em;
    }

    div#req .title .req {
        font-size: 12px;
    }

    div#indicados ul li {
        display: inline-block;
        width: 33%;
        box-sizing: border-box;
        background: #1d1d1d;
        border: 1.1em solid #333333;
        margin: 3% 0.1%;
    }

    div#indicados .button span:first-child {
        width: 20px;
        left: -20px;
    }
    div#indicados .button span:last-child > div {
        font-size: 10px;
    }


    div#logo {
        width: 15vw;
        height: 10vh;
        top: 50%;
        margin-top: -30vh;
        margin-left: -7.5vw;
    }
    #footer .realiza-gaveta div img {
        width: 81px;
        margin: 0 10px;
    }
    #footer .apoio-gaveta div img {
        width: 80px;
        margin: 0 10px;
    }
}

@media screen and (max-width: 992px) {

    .nav-block {
        position: initial;
        margin: 0 auto;
        height: 40px;
        margin-left: 53px;
    }

    div#main-btn {
        /*width: 60%;*/
        /*right: 1px;*/
        width: 75%;
        left: -20px;
    }

    div#gaveta {
        height: 100% !important;
        overflow: auto;
    }
    div#gaveta .menu {
        width: 100%;
        height: 55%;
    }
    div#gaveta .menu ul {
        padding-top: 2vh;
        padding-bottom: 2.2vh;
    }

    div#gaveta .menu img {
        width: 45%;
        padding-top: 4vh;
        margin: 7% auto;
    }

    div#indicados {
        width: 100%;
        display: block;
        float: none;
        position: relative;
        left: 0;
    }

    div#indicados ul li {
        float: left;
        width: 45%;
        margin: 10px 16px;
    }



    div#abre-gaveta {
        top: 35px;
        left: 50%;
        margin-left: -25px;
    }

    /*GAVETA*/

    div#gaveta .menu ul {
        font-size: 12px;
    }
    #footer .realiza-gaveta div {
        height: 45px;
    }
    div#gaveta #footer > div .title {
        font-size: 12px;
        height: 25px;
    }

    div#gaveta #footer img {
        width: 15vw;
        padding: 0px;
    }

    div#gaveta #footer {
        width: 100%;
        margin: 0;
        left: 0;
        position: initial;
    }

    #footer .apoio-gaveta {
        margin: 20px 0;
    }

    /*GAVETA*/


    div#req li {
        padding: 1px;
        line-height: 20px;
    }

    div#req li span {
        font-size: 12px;
    }

    div#content {
        height: 47.7vh;
        margin-top: 0;
    }

    div#logo {
        width: 160px;
        height: 60px;
        background-position: 50%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        margin-left: -80px;
        margin-top: -180px;
    }

    div#hero {
        width: 25vw;
        height: 18vh;
        top: 0;
        margin-left: -11.5vw;
    }
    div#category {
        font-size: 4vw;
        left: 0;
        margin-left: 7%;
        width: 86%;
        word-wrap: break-word;
        top: 10vh;
        line-height: 5vh;
        text-align: left;
    }

    #bg_main{
        background-size: 120%;
    }

    div#form {
        top: 22.5vh;
        left: 7%;
        width: 86%;
    }


    form input {
        font-size: 18px;
        border-bottom-width: 1px;
    }
    div#req {
        margin-top: 70px;
        left: 8px;
    }

    div#req .title {
        width: 224px;
        height: 40px;
        margin-bottom: 15px;
    }

    div#req .title .req {
        font-size: 15px;
        padding-left: 20px;
        text-align: left;
        line-height: 40px;
    }

    div#req ul {
        padding-left: 20px;
    }


    div#pagesBar {
        right: 7vw;
        top: 50vh;
    }

    ul#nav li:last-child {
        margin-bottom: 0;
    }
    ul#nav li:first-child {
        margin-top: 0;
    }

    ul#nav li {
        height: 1.5vh;
        width: 2vw;
        margin: 2.8vh 0;
        background-image: none !important;
        border: 3px solid rgba(255, 0, 0, 0);
    }


}

@media screen and (max-width: 767px) {

    div#indicados ul li .title{
        font-size: 15px;
    }

    div#main-btn {
        width: 80%;
        left: -11px;
        height: 35px;
        line-height: 29px;
        font-size: 11px;
        margin-top: 30px;
    }

    div#main-btn .bar {
        width: 18px;
    }

    div#main-btn span.btnbody {
        position: absolute;
        right: -22px;
    }

    .nav-block {
        position: initial;
        margin: 14px auto 0;
        width: 76%;
        height: 30px;
    }

    .nav-block .btn:first-child {
        margin-right: 28px;
    }

    .nav-block .btn {
        font-size: 8px;
        width: 40%;
        height: 26px;
        line-height: 25px;
        right: 9px;
    }

    .nav-block .btn .btnbody {
        border: 1px solid;
    }

    .nav-block .btn .bar {
        width: 18px;
    }

    span.btnbody {
        right: -21px;
    }

    div#gaveta{
        overflow: scroll;
    }

    div#gaveta .title{
        font-weight: normal;
    }
    
    div#gaveta .title div {
        float: inherit;
        display: inline-block;
        margin: 0 3px;
        font-size: 12px;
    }

    form label .referencia {
        position: absolute;
        right: 0;
        top: -5px;
        cursor: pointer;
    }

    div#req{
        display: none;
    }


    div#indicados {
        width: 100%;
    }

    div#indicados ul li {
        float: none;
        width: 100%;
        margin: 30px 0;
    }
    div#req li {
        padding: 1px;
        font-size: 11px;
    }

    div#req li span {
        font-size: 8px;
    }

    div#content {
        height: 320px;
        margin-top: 150px;
    }

    div#logo {
        width: 100px;
        height: 37px;
        background-position: 50%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        margin-left: -50px;
        margin-top: -115px;
        display: none;
    }

    div#hero {
        padding-top: 20px;
    }


    div#category {
        position: initial;
        margin: 0 auto;
        text-align: center;
        height: 50px !important;
        line-height: 22px;
        margin-top: 65px;
    }

    #bg_main{
        background-size: 120%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    div#form {
        top: 21.5vh;
        left: 7%;
        width: 86%;
        margin-top: 10px;
    }

    form input {
        font-size: 12px;
        border-bottom-width: 1px;
        padding: 5px;
    }

    div#req {
        margin-top: 40px;
        left: 10px;
    }

    div#req .title .req {
        font-size: 10px;
        padding-left: 20px;
        text-align: left;
    }

    div#req ul {
        padding-left: 20px;
    }

    div#pagesBar {
        right: 10vw;
        top: 49vh;
    }

    ul#nav li:last-child {
        margin-bottom: 0;
    }
    ul#nav li:first-child {
        margin-top: 0;
    }

    ul#nav li {
        height: 0.8vh;
        width: 2vw;
        margin: 3.2vh 0;
        background-image: none !important;
        border: 4px solid rgba(255, 0, 0, 0);
    }

    div#abre-gaveta {
        width: 30px;
        height: 30px;
        top: 35px;
        border: 1px solid #ffd300;
        left: 50%;
        margin-left: -15px;
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari */
        transform: rotate(90deg);
    }

    #nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4{
        width: 18px;
    }

    #nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
        height: 2px;
        width: 100%;
    }

    #nav-icon1 span:nth-child(1) {
        top: 8px;
    }
    #nav-icon1 span:nth-child(2) {
        top: 13px;
    }
    #nav-icon1 span:nth-child(3) {
        top: 18px;
    }

    #nav-icon1.open span:nth-child(3), #nav-icon1.open span:nth-child(1){
        top: 13px;
    }

    /*GAVETA*/

    #nav-icon1:hover span:nth-child(1){
        width: 75%;
    }

    #nav-icon1:hover span:nth-child(3){
        width: 75%;
    }

    #nav-icon1.open span:nth-child(1),#nav-icon1.open span:nth-child(2),#nav-icon1.open span:nth-child(3){
        width: 100%;
    }

    div#gaveta .menu ul {
        font-size: 10px;
    }

    div#gaveta .menu {
        width: 100%;
        height: 65%;
        margin-bottom: 20px;
        min-height: 330px;
    }

    div#gaveta div#indicados ul li .title {
        min-height: 26px;
    }

    div#gaveta #footer > div .title {
        font-size: 7px;
    }

    div#gaveta #footer > div .title {
        font-size: 9px;
        height: inherit;
        margin: 12px;
    }

    div#gaveta #footer img {
        width: 21vw;
        padding: 0px;
        margin: 0 5px;
    }

    div#gaveta #footer {
        width: 100%;
        margin: 0;
        left: 0;
        position: initial;
    }
    div#gaveta #footer .realiza-gaveta, div#gaveta #footer .apoio-gaveta{
        display: inline-block;
        margin: 0 5px;
    }
    div#gaveta div#indicados .button {
        left: 5px;
    }
    div#gaveta div#indicados .button span {

        color: #000;
    }

    div#gaveta div#indicados .button span:last-child {
        width: 100% !important;
        left: -7px;
    }

    #footer .apoio-gaveta{
        margin: 0;
    }

    #footer .realiza-gaveta div {
        height: 25px;
    }

    div#mobile_req {
        display: block;
        z-index: 9999;
        padding: 6px 10px;
        margin-top: 28px;
    }
    @media (orientation: landscape) {

        main {
            min-height: 340px;
        }
    }
}

/*@media screen and (max-width: 639px){*/
    /*div#mobile_req {*/
        /*display: block;*/
        /*z-index: 9999;*/
    /*}*/

    /*!*div#logo {*!*/
        /*!*position: initial;*!*/
        /*!*margin: 0 auto;*!*/
        /*!*height: 60px;*!*/
        /*!*margin-top: -60px;*!*/
    /*!*}*!*/

    /*div#logo {*/
        /*position: initial;*/
        /*height: 127px;*/
        /*margin: 0 auto;*/
    /*}*/



    /*!*div#logo {*!*/
        /*!*margin-top: -100px !important;*!*/
    /*!*}*!*/

    /*div#content {*/
        /*!*height: 90%;*!*/
        /*margin-top: 0;*/
    /*}*/

    /*!*.nav-block {*!*/
        /*!*width: 280px;*!*/
        /*!*left: 50%;*!*/
        /*!*margin-left: -116.5px;*!*/
        /*!*bottom: -23vh;*!*/
    /*!*}*!*/

    /*.nav-block {*/
        /*position: initial;*/
        /*margin: 0 auto;*/
        /*margin-left: 5vw;*/
        /*width: 100%;*/
        /*height: 38px;*/
    /*}*/

    /*.nav-block .btn:first-child {*/
        /*margin-right: 28px;*/
    /*}*/

    /*.nav-block .btn {*/
        /*font-size: 8px;*/
        /*width: 35%;*/
    /*}*/

    /*.nav-block .btn .btnbody {*/
        /*border: 1px solid;*/
    /*}*/

    /*.nav-block .btn .bar {*/
        /*width: 18px;*/
    /*}*/

    /*span.btnbody {*/
        /*right: -21px;*/
    /*}*/

    /*div#form {*/
        /*position: initial;*/
        /*margin: 0 auto;*/
        /*height: 165px !important;*/
    /*}*/

    /*!*div#form {*!*/
         /*!*top: 18vh;*!*/
        /*!*!* left: 7%; *!*!*/
        /*!*!* width: 86%; *!*!*/
    /*!*}*!*/
/*}*/

/*@media screen and (max-height: 590px){*/
    /*div#content {*/
        /*height: 70%;*/
    /*}*/
/*}*/

/*@media screen and (max-height: 480px){*/
    /*div#content {*/
         /*height: 90%;*/
    /*}*/

/*}*/

/*@media screen and (max-width: 320px) {*/
    /*!*div#hero {*!*/
        /*!*width: 22vw;*!*/
        /*!*height: 13vh;*!*/
        /*!*margin-left: -11vw;*!*/
        /*!*top: -1vh;*!*/
    /*!*}*!*/
    /*div#logo {*/
        /*top: 23px;*/
    /*}*/
    /*div#category {*/
        /*font-size: 5vw;*/
        /*left: 7%;*/
        /*width: 90%;*/
        /*word-wrap: break-word;*/
        /*top: 8vh;*/
        /*line-height: 4vh;*/
        /*margin-left: 0;*/
        /*text-align: center;*/
    /*}*/

    /*div#pagesBar {*/
        /*right: 11.3vw;*/
        /*top: 52vh;*/
        /*height: 50vh;*/
    /*}*/

    /*!*div#form {*!*/
        /*!*top: 22vh;*!*/
        /*!*left: 7%;*!*/
        /*!*width: 86%;*!*/
    /*!*}*!*/
    /*!*div#content {*!*/
        /*!*height: 51.2vh;*!*/
    /*!*}*!*/
    /*div#req {*/
        /*top: 100%;*/
        /*margin-top: 45px;*/
    /*}*/
    /*div#req .title {*/
        /*margin-bottom: 5px;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 320px) and (max-height: 500px){*/
    /*div#logo {*/
        /*margin-top: -127px !important;*/
    /*}*/

    /*form input {*/
        /*padding: 9px;*/
    /*}*/

    /*form label .referencia {*/
        /*top: 0;*/
    /*}*/

    /*.nav-block {*/
        /*bottom: -21vh;*/
    /*}*/

    /*div#pagesBar {*/
        /*top: 50vh;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 480px) and (max-width: 779px) and (orientation: landscape){*/
    /*div#content {*/
        /*height: 100%;*/
        /*margin-top: 0;*/
    /*}*/
/*}*/

/*
 * CUSTOM COLORS
 */

main.color1 ul#nav li.active,
main.color1 div#_modal,
main.color1 div#abre-gaveta{  border-color: var(--color1);  }

main.color1 div#category, main.color1 div#req li{  color: var(--color1);  }

main.color1 span.btnbody,
main.color1 form input{  color: var(--color1);  border-color: var(--color1);  }

main.color1 div#main-btn span.btnbody{  border-color: var(--color1);  background-color: var(--color1);  }

main.color1 #nav-icon1 span,
main.color1 .bar,
main.color1 div#req .bg,
main.color1 div#main-btn .bar{ background-color: var(--color1);  }


main.color1 div#abre-gaveta:hover{
    background-color: #1d1d1d;
}

main.color1 div#mobile_req{
    background-color: var(--color1);
    color: #000;
}

main.color2 ul#nav li.active,
main.color1 div#_modal,
main.color2 div#abre-gaveta{  border-color: var(--color2);  }

main.color2 div#category, main.color2 div#req li{  color: var(--color2);  }

main.color2 span.btnbody,
main.color2 form input{  color: var(--color2);  border-color: var(--color2);  }

main.color2 div#main-btn span.btnbody{  border-color: var(--color2);  background-color: var(--color2);  }

main.color2 #nav-icon1 span,
main.color2 .bar,
main.color2 div#req .bg,
main.color2 div#main-btn .bar{ background-color: var(--color2);  }


main.color2 div#abre-gaveta:hover{
    background-color: #1d1d1d;
}

main.color2 div#mobile_req{
    background-color: var(--color2);
    color: #fff;
}

main.color3 ul#nav li.active,
main.color1 div#_modal,
main.color3 div#abre-gaveta{  border-color: var(--color3);  }

main.color3 div#category, main.color3 div#req li{  color: var(--color3);  }

main.color3 span.btnbody,
main.color3 form input{  color: var(--color3);  border-color: var(--color3);  }

main.color3 div#main-btn span.btnbody{  border-color: var(--color3);  background-color: var(--color3);  }

main.color3 #nav-icon1 span,
main.color3 .bar,
main.color3 div#req .bg,
main.color3 div#main-btn .bar{ background-color: var(--color3);  }


main.color3 div#abre-gaveta:hover{
    background-color: #1d1d1d;
}

main.color3 div#mobile_req{
    background-color: var(--color3);
    color: #fff;
}

main.color4 ul#nav li.active,
main.color4 div#abre-gaveta{  border-color: var(--color4);  }

main.color4 div#category, main.color4 div#req li{  color: var(--color4);  }

main.color4 span.btnbody,
main.color4 form input{  color: var(--color4);  border-color: var(--color4);  }

main.color4 div#main-btn span.btnbody{  border-color: var(--color4);  background-color: var(--color4);  }

main.color4 #nav-icon1 span,
main.color4 .bar,
main.color4 div#req .bg,
main.color4 div#main-btn .bar{ background-color: var(--color4);  }


main.color4 div#abre-gaveta:hover{
    background-color: #1d1d1d;
}

main.color4 div#mobile_req{
    background-color: var(--color4);
    color: #000;
}
/*helabs*/


main.color5 ul#nav li.active,
main.color5 div#abre-gaveta{  border-color: var(--color5);  }

main.color5 div#category, main.color5 div#req li{  color: var(--color5);  }

main.color5 span.btnbody,
main.color5 form input{  color: var(--color5);  border-color: var(--color5);  }

main.color5 div#main-btn span.btnbody{  border-color: var(--color5);  background-color: var(--color5);  }

main.color5 #nav-icon1 span,
main.color5 .bar,
main.color5 div#req .bg,
main.color5 div#main-btn .bar{ background-color: var(--color5);  }


main.color5 div#abre-gaveta:hover{
    background-color: #1d1d1d;
}

main.color5 div#mobile_req{
    background-color: var(--color5);
    color: #000;
}

main.color6 ul#nav li.active,
main.color6 div#abre-gaveta{  border-color: var(--color6);  }

main.color6 div#category, main.color6 div#req li{  color: var(--color6);  }

main.color6 span.btnbody,
main.color6 form input{  color: var(--color6);  border-color: var(--color6);  }

main.color6 div#main-btn span.btnbody{  border-color: var(--color6);  background-color: var(--color6);  }

main.color6 #nav-icon1 span,
main.color6 .bar,
main.color6 div#req .bg,
main.color6 div#main-btn .bar{ background-color: var(--color6);  }


main.color6 div#abre-gaveta:hover{
    background-color: #1d1d1d;
}

main.color6 div#mobile_req{
    background-color: var(--color6);
    color: #000;
}

main.color7 ul#nav li.active,
main.color7 div#abre-gaveta{  border-color: var(--color7);  }

main.color7 div#category, main.color7 div#req li{  color: #ffffff;  }

main.color7 span.btnbody,
main.color7 form input{  color: #fff;  border-color: var(--color7);  }

main.color7 div#main-btn span.btnbody{  border-color: var(--color7);  background-color: var(--color7); color: #fff; }

main.color7 #nav-icon1 span,
main.color7 .bar,
main.color7 div#req .bg,
main.color7 div#main-btn .bar{ background-color: var(--color7);  }

main.color7 div#abre-gaveta:hover{
    background-color: #1d1d1d;
}

main.color7 div#req{
    color: #fff;
}
main.color7 div#mobile_req{
    background-color: var(--color7);
    color: #fff;
}

/*main.color8 ul#nav li.active,*/
/*main.color8 div#abre-gaveta{  border-color: var(--color8);  }*/

/*main.color8 div#category, main.color8 div#req li{  color: var(--color8);  }*/

/*main.color8 span.btnbody,*/
/*main.color8 form input{  color: var(--color8);  border-color: var(--color8);  }*/

/*main.color8 div#main-btn span.btnbody{  border-color: var(--color8);  background-color: var(--color8);  }*/

/*main.color8 #nav-icon1 span,*/
/*main.color8 .bar,*/
/*main.color8 div#req .bg,*/
/*main.color8 div#main-btn .bar{ background-color: var(--color8);  }*/


/*main.color8 div#abre-gaveta:hover{*/
    /*background-color: #1d1d1d;*/
/*}*/

/*main.color9 ul#nav li.active,*/
/*main.color9 div#abre-gaveta{  border-color: var(--color9);  }*/

/*main.color9 div#category, main.color9 div#req li{  color: var(--color9);  }*/

/*main.color9 span.btnbody,*/
/*main.color9 form input{  color: var(--color9);  border-color: var(--color9);  }*/

/*main.color9 div#main-btn span.btnbody{  border-color: var(--color9);  background-color: var(--color9);  }*/

/*main.color9 #nav-icon1 span,*/
/*main.color9 .bar,*/
/*main.color9 div#req .bg,*/
/*main.color9 div#main-btn .bar{ background-color: var(--color9);  }*/


/*main.color9 div#abre-gaveta:hover{*/
    /*background-color: #1d1d1d;*/
/*}*/

/*main.color10 ul#nav li.active,*/
/*main.color10 div#abre-gaveta{  border-color: var(--color10);  }*/

/*main.color10 div#category, main.color10 div#req li{  color: var(--color10);  }*/

/*main.color10 span.btnbody,*/
/*main.color10 form input{  color: var(--color10);  border-color: var(--color10);  }*/

/*main.color10 div#main-btn span.btnbody{  border-color: var(--color10);  background-color: var(--color10);  }*/

/*main.color10 #nav-icon1 span,*/
/*main.color10 .bar,*/
/*main.color10 div#req .bg,*/
/*main.color10 div#main-btn .bar{ background-color: var(--color10);  }*/


/*main.color10 div#abre-gaveta:hover{*/
    /*background-color: #1d1d1d;*/
/*}*/

/*main.color11 ul#nav li.active,*/
/*main.color11 div#abre-gaveta{  border-color: var(--color11);  }*/

/*main.color11 div#category, main.color11 div#req li{  color: var(--color11);  }*/

/*main.color11 span.btnbody,*/
/*main.color11 form input{  color: var(--color11);  border-color: var(--color11);  }*/

/*main.color11 div#main-btn span.btnbody{  border-color: var(--color11);  background-color: var(--color11);  }*/

/*main.color11 #nav-icon1 span,*/
/*main.color11 .bar,*/
/*main.color11 div#req .bg,*/
/*main.color11 div#main-btn .bar{ background-color: var(--color11);  }*/


/*main.color11 div#abre-gaveta:hover{*/
    /*background-color: #1d1d1d;*/
/*}*/

/*
 * CUSTOM COLORS
 */