#text {
    color: #fff;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    margin-top: 35px;
    font-size: 0.9vw;
}

#text .yellow {
    font-family: 'Montserrat', sans-serif;
    color: var(--lightYellow);
    font-weight: bold;
    margin-top: 2vw;
    display: block;
    letter-spacing: 3px;
    font-size: 0.8vw;
}

.button span:last-child{
    width: 12vw;
}

.fb-login-button span:last-child {
    color: #3B5999 !important;
}

.fb-login-button span:first-child {
    background-color: #3B5999;
    border-color: #3B5999;
}

div#actions {
    width: 45.5vw;
    margin: 0 auto;
    margin-top: 4.5vw;
}

div#actions .button {
    margin-top: 0;
    width: 15vw;
    margin-left: 3vw;
    margin-right: 3vw;
    cursor: pointer;
}

div#actions > div {
    float: left;
}

div._ou {
    margin: 0 1vw;
    color: #fff;
    line-height: 4vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}