/*RESET*/
div#content {
    visibility: visible;
}

.nano {
    position: absolute;
    display: table;
    height: 60%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8vw;
    line-height: 1.2vw;
    letter-spacing: 0.05vw;
    width: 45vw;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-45%);
}

.nano .nano-content { padding: 10px; }
.nano > .nano-pane > .nano-slider {
    background: var(--yellow);
}


#text {
    color: #545454;
    font-size: 0.9vw;
}

#text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    width: 50vw;
}

div#text h1 {
    color: #edd25d;
    font-size: 0.8vw;
    letter-spacing: 3px;
    margin-bottom: 25px;
}

.button span:last-child {
    width: 90%;
}
div#actions {
    margin: 0 auto;
    position: absolute;
    bottom: -60px;
    display: inline-flex;
    height: 70px;
    vertical-align: middle;
    left: 50%;
    /*transform: translateX(-50%);*/
    /*-webkit-transform: translateX(-50%);*/
    width: 285px;
    margin-left: -142.5px;
}

div#actions .button {
    width: 15vw;
    margin-left: 3vw;
    margin-right: 3vw;
    position: relative;
    margin-top: -25px;
}

div#actions > div {
    display: block;
}

div#content {
    width: 65vw;
    background-color: #1d1d1d;
    margin: 0 auto;
    margin-top: 12vh;
    position: relative;
    top: 0;
    left: 0;
}

@media screen and (max-width: 767px){
    div#content {
        height: 245px !important;
        top: 50% !important;
        margin-top: -160.5px !important;
    }


    footer{
        position: absolute;
        bottom: 0;
    }

    span._link {
        margin-left: 0 !important;
    }

    .nano{
        width: 60vw;
    }

    div#actions {
        position: absolute;
        bottom: -105px !important;
        left: 140px !important;
        margin-left: -50% !important;
    }

    /*.nano {*/
        /*height: 65% !important;*/
        /*top: 115px;*/
        /*!*top: 45vw;*!*/
    /*}*/

    .nano {
        height: 175px !important;
        top: 130px;
    }
}