@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
    font-family: 'The Frontman';
    src: url('./fonts/frontman/TheFrontman.eot');
    src: url('./fonts/frontman/TheFrontman.eot?#iefix') format('embedded-opentype'),
    url('./fonts/frontman/TheFrontman.woff2') format('woff2'),
    url('./fonts/frontman/TheFrontman.woff') format('woff'),
    url('./fonts/frontman/TheFrontman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --yellow: #ffd300;
    --lightYellow: #ffe263;
    --bgGray: #1d1d1d
}

a{
    color: inherit;
    text-decoration: none;
    font-style: inherit;
}

body{
    overflow: hidden;
    margin: 0;  padding: 0;  background-color: var(--bgGray);
    /*color: var(--bgGray);*/
}
main {  padding: 50px;  width: 100%;  height: 100%;  position: absolute;  box-sizing: border-box;  }
#bg_main { transition: all 1s;  background: #252525;  background-image: url(/site/media/images/dagua.png);  width: 100%;  height: 100%;  border: 3px solid var(--yellow);  background-position: 50%;  background-size: 106%;  position: relative;  }

div#_modal {
    display: none;
    position: absolute;
    width: 300px;
    /* height: 150px; */
    background: #545454;
    z-index: 9;
    left: 50%;
    margin-left: -150px;
    border-top: 10px solid #ffd300;
    border-radius: 5px;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 12px;
    top: 5vw;
}

.cleaner{
    clear: both !important;
}
.button {
    margin-top: 4vw;
    /*width: 315px;*/
    width: 23vw;
    margin-left: -4vw;
}
.button span:first-child {  width: 2vw;  height: 4vw;  -webkit-transform: skew(-20deg);  -moz-transform: skew(-20deg);  -o-transform: skew(-20deg);  background: var(--yellow);  float: left;  }
.button span:last-child {  width: 20vw; height: 4vw;  -webkit-transform: skew(-20deg);  -moz-transform: skew(-20deg);  -o-transform: skew(-20deg);  background: var(--yellow);  float: left;  margin-left: 5px;  line-height: 3.7vw;  text-align: center;  font-family: sans-serif;  font-weight: bold;  font-style: normal;  }

.button span:last-child > div {
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    font-family: 'Monttserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 13px;
}


.button.light span:last-child {
    background-color: #222;
    border: 3px solid #333;
    box-sizing: border-box;
    color: var(--lightYellow);
}

div#actions > div.button{
    cursor: pointer;
}

div#loader img {
    display: block;
    opacity: 0.7;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
}
div#loader {
    display: none;
    position: fixed;
    z-index: 999;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}
/*div#content {  position: absolute;  width: 1050px;  background: var(--bgGray);  height: 300px;  top: 50%;  margin-top: -150px;  left: 50%;  margin-left: -525px;  }*/

div#content {
    position: absolute;
    width: 65vw;
    background: var(--bgGray);
    height: 18.5vw;
    top: 50%;
    margin-top: -9.25vw;
    left: 50%;
    margin-left: -32.5vw;
    visibility: hidden;
}

.titulo{ margin-top: 10px; }
/*div#category {  font-family: 'The Frontman';  color: #ffd300;  font-size: 78px; font-size: 5.7vw;  line-height: 5.7vw;  position: absolute;  left: -11.4%;  top: -12%;  }*/
div#category {  font-family: 'The Frontman';  color: var(--yellow); font-size: 4.5vw;  line-height: 5.5vw;  position: absolute;  left: -7vw;  top: -2.4vw;  }

div#hero {
    width: 23vw;
    height: 25vw;
    background-position: 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -12.5vw;
    left: 50%;
    margin-left: -11.5vw;
    background-size: 100%;
    /*transition: all 1s;*/
}

/*div#form {  position: absolute;  right: -245px;  width: 300px;  margin-right: 150px;  margin-top: 105px;  }*/

div#pagesBar {
    position: absolute;
    top: 50%;
    right: -1.9vw;
}

div#pagesBar ul#nav {
}

ul#nav li.active {
    border-color: var(--yellow) !important;
}

ul#nav li:hover {
    background-color: #252525;
    border-color: #565656;
}

ul#nav li {
    display: block;
    width: 3.5vw;
    height: 3.5vw;
    background: #333333;
    margin: 10px 0;
    border-radius: 100px;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: all 0.5s;
    border: 4px solid rgba(255, 0, 0, 0);
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 1.5vw;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1270px) and (max-width: 1366px){
    div#content {
        width: 970px;
        margin-left: -485px;
    }
}