@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');

:root{
    --yellow: #ffd300;
    --lightYellow: #ffe263;
    --bgGray: #1d1d1d;
    --color1: #ffffff;
    --color2: #c72026;
    --color3: #5d91da;
    --color4: #ffd300;
    --color5: #c188ea;
    --color6: #b8ff7e;
    --color7: #000000;
    --color8: #ce62a4;
    /*--color9: brown;*/
    /*--color10: #3b4abb;*/
    /*--color11: #b8ff7e;*/
}

@font-face {
    font-family: 'The Frontman';
    src: url('./fonts/frontman/TheFrontman.eot');
    src: url('./fonts/frontman/TheFrontman.eot?#iefix') format('embedded-opentype'),
    url('./fonts/frontman/TheFrontman.woff2') format('woff2'),
    url('./fonts/frontman/TheFrontman.woff') format('woff'),
    url('./fonts/frontman/TheFrontman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

img#logo {
    margin: 0 auto;
    display: block;
    width: 25vw;
    position: absolute;
    left: 50%;
    margin-left: -12.5vw;
    top: -5vw;
}

#login{
    height:100%;
}

footer {
    margin: 10px auto;
    position: absolute;
    bottom: 10px;
    text-align: center;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    width: 100%;
}

footer img {
    width: 100px;
    color: #fff;
    margin: 0 1.5vw;
    display: inline-block;
}

.apoio {
    display: inline-block;
}

.realiza {
    display: inline-block;
}

footer .divider {
    border: 1.5px solid rgba(84, 84, 84, 0.65);
    width: 0px;
    height: 55px;
    transform: rotate(20deg);
    margin: 0 30px;
    display: inline-block;
}

footer > div .title {
    /*color: #fff;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6vw;
    color: #545454;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
    letter-spacing: 2px;
}

a{
    color: inherit;
    text-decoration: none;
    font-style: inherit;
}

body{
    overflow: hidden;
    margin: 0;  padding: 0;  background-color: #1d1d1d;
    /*color: var(--bgGray);*/
}
main {  padding: 50px;  width: 100%;  height: 100%;  position: absolute;  box-sizing: border-box;  }
#bg_main { transition: all 1s;  background: #252525;  background-image: url(/site/media/images/dagua.png);  width: 100%;  height: 100%;  border: 3px solid var(--yellow);  background-position: 50%;  background-size: 106%;  position: relative; overflow: hidden; }

span._link {
    position: relative;
}
span._link a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

div#_modal {
    display: none;
    position: absolute;
    width: 300px;
    /* height: 150px; */
    background: #545454;
    z-index: 9;
    left: 50%;
    margin-left: -150px;
    border-top: 10px solid #ffd300;
    border-radius: 5px;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 12px;
    top: 5vh;
}

.cleaner{
    clear: both !important;
}
div#actions > div.button{
    cursor: pointer;
}

.button {
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    float: right;
    margin-right: -5px;
}

.button.disabled{
    opacity: 0.2;
    cursor: default;
}
.button span{
    transition: 0.3s;
}
.button span:first-child {
    width: 35px;
    /*height: 58px;*/
    /*height: 54%;*/
    height: 6.4vh;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    background-color: var(--yellow);
    float: left;
    border: 4px solid var(--yellow);
    box-sizing: border-box;
    position: absolute;
    left: -30px;
}

.button span:last-child {
    width: 298px;
    /* height: 100%; */
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    color: #1d1d1d;
    float: left;
    margin-left: 10px;
    line-height: 6vh;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    font-style: normal;
    border: 4px solid var(--yellow);
    box-sizing: border-box;
    background-color: var(--yellow);
}

.button span:last-child > div {
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    font-family: 'Monttserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 15px;
}

.button.light span:last-child {
    background-color: #222;
    border: 3px solid #333;
    box-sizing: border-box;
    color: #ffe263;
}

.button:hover span:first-child{
    background-color: #222222;
    border-color: #222222;

}
.button:hover span:last-child{
    background-color: var(--yellow);
    color:#222222;

}

.button.fb-login-button span:last-child {
    color: #3B5999;
}

.button.fb-login-button span:first-child {
    background-color: #3B5999;
    border-color: #3B5999;
}

.button.fb-login-button:hover span:first-child {
    background-color: #222222;
    border-color: #222222;
}

.button.fb-login-button:hover span:last-child {
    background-color: #3B5999;
    color: #222222 !important;
}


.button.btn-cancel span:last-child {
    color: #333;
}

.button.btn-cancel span:first-child {
    background-color: #333;
    border-color: #333;
}
.button.btn-cancel:hover span:first-child {
    background-color: #222222;
    border-color: #222222;
}
.button.btn-cancel:hover span:last-child {
    background-color: #353535;
    color: #222222;
}

ul#ul-gaveta .button span:last-child > div {
    font-size: 11px;
    letter-spacing: 1px;
}

div#loader img {
    display: block;
    opacity: 0.7;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
}
div#loader {
    display: none;
    position: fixed;
    z-index: 999;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}
/*div#content {  position: absolute;  width: 1050px;  background: var(--bgGray);  height: 300px;  top: 50%;  margin-top: -150px;  left: 50%;  margin-left: -525px;  }*/

div#content {
    position: absolute;
    width: 65vw;
    background-color: #1d1d1d;
    height: 35vh;
    top: 50%;
    left: 50%;
    /*transform: translateX(-50%) translateY(-50%);*/
    visibility: hidden;
}

div#content.text {
    height: 50vh;
}

.titulo{ margin-top: 10px; }
/*div#category {  font-family: 'The Frontman';  color: #ffd300;  font-size: 78px; font-size: 5.7vw;  line-height: 5.7vw;  position: absolute;  left: -11.4%;  top: -12%;  }*/
/*div#category {  font-family: 'The Frontman';  color: var(--yellow); font-size: 4.5vw;  line-height: 5.5vw;  position: absolute;  left: -7vw;  top: -2.4vw;  }*/
div#category {
    font-family: 'The Frontman';
    color: var(--yellow);
    font-size: 3vw;
    line-height: 1.5em;
    position: absolute;
    left: -8vw;
    top: 5.4vh;
}

div#logo {
    width: 10vw;
    height: 8vh;
    background-position: 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -37.5vh;
    left: 50%;
    margin-left: -5vw;
    background-size: 100%;
}

div#hero {
    width: 20vw;
    height: 40vh;
    background-position: 50%;
    background-repeat: no-repeat;
    top:50%;
    left: 50%;
    background-size: 100%;
    /*transform: translateX(-50%);*/
    /* border: 1px solid; */
    position: absolute;
    margin-left: -10vw;
}

/*div#form {  position: absolute;  right: -245px;  width: 300px;  margin-right: 150px;  margin-top: 105px;  }*/

div#pagesBar {
    position: absolute;
    top: 50.5%;
    right: 45px;
    z-index: 999;
    width: 5vh;
    transform: translateX(50%);
}

div#pagesBar ul#nav {
}

ul#nav li.active {
    border-color: var(--yellow);
}

ul#nav li:hover {
    background-color: #252525;
    border-color: #565656;
}

ul#nav li {
    display: block;
    width: 5vh;
    height: 5vh;
    background: #333333;
    margin: 3vh 0;
    border-radius: 100px;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: all 0.5s;
    border: 3px solid rgba(255, 0, 0, 0);
    box-sizing: border-box;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 1024px) {
    div#content {
        height: 25vh;
    }
}
@media screen and (max-width: 992px) {
    main{
        padding: 25px;
    }

    #bg_main{
        border: 1px solid var(--yellow);  background-position: 50%;
    }

    div#content {
        width: 80%;
        visibility: visible;
    }

    div#content img#logo {
        width: 35vw;
    }

    .button span:last-child > div {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .nano {
        height: 87vh !important;
        font-size: 10px !important;
        line-height: 12px !important;
    }

    /*BUTTONS*/
    div#actions {
        width: 90% !important;
    }


    .button span:first-child {
        /*height: 50px;*/
    }
    .button span:last-child {
        width: 100%;
        height: 50px;
        line-height: 50px;
        border: 1px solid #333 !important;
    }
    /*BUTTONS*/

    /*FOOTER*/
    footer > div .title {
        font-size: 7px;
    }

    footer img {
        width: 15vw;
    }

    footer {
        width: 100%;
        margin: 0;
        left: 50%;
    }
}

@media screen and (max-width: 767px) {

    input::-webkit-input-placeholder {
        font-size: 16px;
    }

    main{
        padding: 25px;
    }

    #bg_main{
        border: 1px solid var(--yellow);
        background-position: 50%;
        overflow-y: scroll;
        /*min-height: 312px;*/
    }

    div#content {
        width: 80%;
        visibility: visible;
        height: 40vh;
        margin-top: -30vh;
    }

    div#content img#logo {
        width: 50vw;
        margin-top: -15px !important;
        margin-left: -25vw;
    }
    .button span:last-child > div {
        font-size: 10px;
        letter-spacing: 2px;
    }

    .nano {
        height: 87vh !important;
        font-size: 10px !important;
        line-height: 12px !important;
    }

    /*BUTTONS*/
    div#actions {
        width: 100% !important;
        margin-left: 3vw !important;
    }

    ._ou {
        clear: both;
        text-align: center;
        display: block;
        width: 100%;
    }
    div#actions .button {
        margin: 15px auto;
        display: block;
        width: 100% !important;
        position: initial;
        margin-left: 4.5vw;
    }
    .button span:first-child {
        height: 40px;
        width: 22px;
    }
    .button span:last-child {
        width: 78% !important;
        height: 40px;
        line-height: 40px;
        border: 1px solid #333 !important;
    }
    /*BUTTONS*/

    /*FOOTER*/
    footer > div .title {
        font-size: 7px;
    }

    footer img {
        width: 15vw;
    }

    footer {
        width: 100%;
        margin: 0;
        left: 0;
    }
    /*FOOTER*/
    footer {
        width: 100%;
        margin: 0;
        left: 0;
        transform: none;
        position: initial;
        margin-top: 50px;
    }

    footer div {
        margin: 10px 5px;
        display: block;
        /* width: 100%; */
    }

    footer > div .title {
        margin-bottom: 10px;
    }

    footer img {
        width: 20vw;
    }

    footer .divider{
        display: none;
    }

    footer .apoio {
        margin-bottom: 0px;
    }
}

div#landscape {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bgGray);
    z-index: 9999999999999;
    text-align: center;
}

#landscape img {
    width: 300px;
}

div#landscape > div {
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--lightYellow);
    margin-bottom: 10vh;
    margin-top: 20vh;
}

/*@media (max-width: 767px) and (orientation: landscape) {*/
/*@media (max-width: 767px) and (min-aspect-ratio: 13/9){*/
    /*div#landscape { display: block; }*/
/*}*/

@media screen and (max-width: 639px) {
    div#content {
        margin-top: -8vh;
    }

    /*#content > div {*/
        /*height: 37% !important;*/
    /*}*/

    div#actions {
        left: 68% !important;
        bottom: -5vh !important;
    }

    div#actions > div.button {
        margin-bottom: -3px;
    }

    div#actions .button div {
        font-size: 9px !important;
    }

    div#actions > div._ou{
        display: none;
    }
}