/*RESET*/
div#content {
    visibility: visible;
}

.nano {
    position: absolute;
    display: table;
    height: 60%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8vw;
    line-height: 1.2vw;
    letter-spacing: 0.05vw;
    width: 50vw;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-45%);
}

.nano .nano-content { padding: 10px; }
.nano > .nano-pane > .nano-slider {
    background: var(--yellow);
}


#text {
    color: #545454;
    font-size: 0.9vw;
}

#text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    width: 50vw;
}

div#text h1 {
    color: #edd25d;
    font-size: 0.8vw;
    letter-spacing: 3px;
    margin-bottom: 25px;
}

.button span:last-child{
    width: 12vw;
}

div#actions {
    margin: 0 auto;
    position: absolute;
    bottom: -60px;
    display: inline-flex;
    height: 70px;
    vertical-align: middle;
    left: 50%;
    transform: translateX(-50%);
}

div#actions .button {
    width: 15vw;
    margin-left: 3vw;
    margin-right: 3vw;
    position: relative;
    margin-top: -25px;
}

div#actions > div {
    display: block;
}

div#content {
    width: 65vw;
    background-color: #1d1d1d;
    margin: 0 auto;
    margin-top: 17vh;
    position: relative;
    top: 0;
    left: 0;
}

@media screen and (max-width: 767px){

    div#actions {
        position: absolute;
        bottom: -110px !important;
        left: 130px !important;
    }

    .nano {
        height: 77% !important;
        top: 125px;
    }

    div#actions{
        display: block;
    }
    
    div#actions .button{
        height: 75px;
    }
}