div#finalists {    }

.finalist {  color: var(--yellow);  position: relative;  border-bottom: 3px solid var(--yellow);  margin-bottom: 45px;  font-family: 'Montserrat Alternates', sans-serif;  cursor: pointer;  padding-bottom: 10px;  }

.finalist .ref-tooltip {  position: absolute;  right: 0;  bottom: 0;  }

.finalist .name {  float: left;  width: 85%;  margin-left: 40px;  }

.finalist .check {  float: left;  background: rgba(255, 0, 0, 0);  width: 25px;  height: 25px;  border-radius: 100px;  border: 3px solid var(--yellow);  box-sizing: border-box;  position: absolute;  left: 0;  top: 50%;  margin-top: -18.5px;  }

.finalist.voted .checked {  width: 15px;  height: 15px;  background: var(--yellow);  border-radius: 100px;  margin: 2px auto;  }

.button.voted {  opacity: 0.2;  cursor: not-allowed;  }

@media screen and (max-width: 639px){

    .finalist .name{
        font-size: 12px;
    }

    .finalist .check {
        width: 15px;
        height: 15px;
        border: 2px solid var(--yellow);
        margin-top: -13px;
    }

    .finalist:last-child {
        margin-bottom: 0;
    }

    .finalist.voted .checked {
        width: 8px;
        height: 8px;
        margin: auto;
    }

    .nav-block {
        bottom: -17vh;
    }

    .finalist {
        margin-bottom: 10px;
    }

    .nav-block {
        bottom: -31vh;
    }
}